<h1>Editing Team</h1>

<%= render 'form' %>

<%= link_to 'Delete Team', [@team.league, @team], method: :delete, class: "user-button button-cancel"%>
<br>
<%= link_to 'Show', @team.league %> |
<%= link_to 'Back', league_teams_path %>
