<div class="jumbotron">
    <div class="container welcome-header">
        <h1 class="title">Draft Hub</h1>

        <div class="container">
            <div class="row welcome-buttons">
                <%= link_to "Browse All Leagues", leagues_path, class: "jumbo-link" %>
                <%= link_to "Create a League", new_league_path, class: "jumbo-link" %>
                <%= link_to "My Leagues", teams_path, class: "jumbo-link" %> 
            </div>
        </div>
    </div>

</div>