<div class="jumbotron">
    <h1 class="title">Draft Hub</h1>

    <div class="container-fluid">
        <div class="row">
        
            <div class="col-md-4">
                <%= link_to "Create New League", welcome_index_path, class: "jumbo-link" %>
            </div>

            <div class="col-md-4">
                <%= link_to "My Draft Office", welcome_index_path, class: "jumbo-link" %>
            </div>

            <div class="col-md-4">
                <%= link_to "Do something else", welcome_index_path, class: "jumbo-link" %>
            </div>
        </div>
    </div>

</div>