/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require simple_calendar
 */

body {
		color: #3d3d3d;
}

.navbar {
		background-color: rgba(0,0,0,0);
		border: none !important;
		margin-top: 25px;

		a {
			color: white;

			&:hover {
				background-color: rgba(0,0,0,0) !important;
				color: white;
			}
		}
}

a.navbar-brand {
	margin-left: 35px;
	transition: all 0.3s;
	display: flex;
	align-items: center;

	&:hover {
		font-size: 2rem;
		margin-left: 30px;
	}
}


.navbar-toggle {
	border: 1px solid white !important;

	.icon-bar {
		border: 1px solid white !important;
	}
}

.navbar-inner {
	border-radius: 0px !important;
	border-bottom-left-radius: 5px !important;
	border-bottom-right-radius: 5px !important;
	min-height: 0 !important;

	.nav li {
		display: inline-block;
	}

	a {
		color: #3d3d3d;
		margin-bottom: 0;
		height: 45px;
	}
}

.user-button {
	padding: 5px 20px;
	background-color: #3B5;
	color: white;
	border: none;
	border-radius: 5px;
	transition: ease-in-out, .3s ease-in-out;

	&:hover {
		background-color: #EFEFEF;
		text-decoration: none;
		color: #3d3d3d !important;
		cursor: pointer;
	}

	&:focus {
		text-decoration: none;
		color: #EFEFEF;
	}

	&:visited {
		color: white;
	}
}

.button-cancel {
	background-color: #DD5458;
}

.main-form {
	
	h2 {
		text-align: center;
	 }
	
	.text-field {
		width: 100%;
		line-height: 2.7rem;
		margin-bottom: 25px;
		transition: ease-in-out, .3s ease-in-out;
	
		&:focus {
			border: 2px solid #3B5;
			line-height: 3.2rem;
			outline: none;
			margin-bottom: 19px;
		}
	}
}

.footer {
	display: grid;
	grid-template: 100px / 1fr 60% 1fr;
	background-color: #199FE0;
}

@import "bootstrap-sprockets";
@import "bootstrap";
