.league-heading {
  text-align: center;
  margin: 30px auto;

  h1 {
    font-size: 50px;
  }

  h3 {
    font-size: 16px;
    font-weight: 400px;
  }
}

.league-table {
  margin: 20px auto;
  
  table {

    thead {
      border-bottom: 1px solid lightgrey;
    }

    tbody tr {
      height: 45px;
    }
  }
}
