// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
    text-align: center !important;
    background: url("https://images.unsplash.com/photo-1477351583523-5cc479a2c4e5?dpr=1&auto=compress,format&fit=crop&w=1502&h=&q=80&cs=tinysrgb&crop=") no-repeat center;
    background-size: cover;
    height: 615px;
    border-radius: 0 !important;

    .title {
        color: #F6AE2D;
    }

    .jumbo-link {
        color: white;
        border: 5px solid #3B5B70;
        padding: 0 12%;
        border-radius: 7px;
        width: 100%;
        height: 210px;
        margin: 1.5%;
        transition: all 0.3s;
        display: flex;
        align-items: center;
        font-size: 30px;

        &:hover {
            background-color: #3B5B70;
            text-decoration: none;
        }
    }
}
